<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bright Furniture</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>    
{% block content %} {% endblock content %}
    <!-- <footer class="text-center py-4 bg-dark text-light">
        &copy; 2025 Bright Furniture. All Rights Reserved.
    </footer> -->

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>